/* styles.css */

/* Common styles for all screen sizes */

.form-container {
  display: flex;
  justify-content: center;
}

fieldset {
  border: 1px solid #333;
  padding: 20px;
  margin: 10px;
  width: 400px;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  padding: 0 10px;
  margin-bottom: 10px;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; /* Optional: Add spacing between each div */
}

label {
  width: 20%;
  margin-right: 7px;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

input.error {
  border: 1px solid red;
}

/* Media queries for responsive design */

/* For screens 600 pixels and below */
@media only screen and (max-width: 576px) {
  fieldset {
    width: 80%;
  }

  label {
    width: 90%;
    margin-bottom: 5px;
  }

  div {
    flex-direction: column;
  }
}

/* For screens 768 pixels and below */
@media only screen and (max-width: 768px) {
  /* Add specific styles for this screen size if needed */
}

/* For screens 1024 pixels and below */
@media only screen and (max-width: 1024px) {
  /* Add specific styles for this screen size if needed */
}

/* Add more media queries for other screen sizes as needed */
